.header{
    display: flex;
    flex-direction: row;
    height: 35px;
    justify-content: space-between;
}
.left-section{
    display: flex;
    align-items: center;
    width: 85px;
}
.hamburger-menu{
    height: 22px;
    width: 22px;
    margin-right: 20px;
    margin-left: 8px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.hamburger-menu:hover{
    background-color: rgba(0,0,0,0.1);
    border-radius: 16px;
}
.youtube-logo{
    cursor: pointer;
}
.middle-section{
    display: flex;
    flex: 1;
    margin-left: 100px;
    max-width: 580px;
    align-items: center;
}
.search-bar{
    flex: 1;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border: none;
    box-shadow: 0 0 2px rgba(0,0,0,0.8);
    width: 50px;
}
.search-bar::placeholder{
    font-family: Roboto;
    font-size: 14px;
}
.search-button{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 14px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    border: none;
    box-shadow: 0 0 2px rgba(0,0,0,0.8);
}

.search-icon{
    width: 20px;
}
.search-button:hover,
.voice-search-button:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}
.voice-search-button{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    margin-left: 15px;
    border: none;
}
.voice-search-icon{
    width: 22px;
    height: 22px;
}
.right-section{
    display: flex;
    width: 130px;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    padding-right: 15px;
}
.upload-icon,
.notification-icon{
    width: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}
.upload-icon:hover,
.notification-icon:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}
.mychannel-icon{
    width: 25px;
    border-radius: 13px;
}