.header{
    display: flex;
    flex-direction: row;
    height: 35px;
    justify-content: space-between;
}
.left-section{
    display: flex;
    align-items: center;
    width: 85px;
}
.hamburger-menu{
    height: 28px;
    width:23px;
    margin-right: 24px;
    margin-left: 10px;
}
.middle-section{
    display: flex;
    flex: 1;
    margin-left: 100px;
    max-width: 580px;
    align-items: center;
}
.search-bar{
    flex: 1;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border: none;
    box-shadow: 0 0 2px rgba(0,0,0,0.8);
    width: 50px;
}
.search-button{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 14px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    border: none;
    box-shadow: 0 0 2px rgba(0,0,0,0.8);
}
.search-icon{
    width: 20px;
}
.voice-search-button{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    margin-left: 15px;
    border: none;
}
.voice-search-icon{
    width: 22px;
    height: 22px;
}
.right-section{
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: end;
    padding-right: 15px;
}
.upload-icon{
    width: 25px;
}
.notification-icon{
    width: 25px;
    margin-left: 17px;
    margin-right: 17px;
}
.mychannel-icon{
    width: 25px;
    border-radius: 13px;
}