@import "header.css";
@import "sidebar.css";
@import "main-content.css";
@import "footer.css";

body{
    padding: 48px 20px 0 80px;
}
p{
    margin-top: 0;
    margin-bottom: 0;
    font-family: Roboto;
}