@import "header.css";
@import "sidebar.css";
@import "main-content.css";

body{
    padding-left: 80px;
    padding-top: 48px;
    padding-right: 20px;
}
p{
    margin-top: 0;
    margin-bottom: 0;
    font-family: Roboto;
}